.optionButton {
  color: #fcfcfc;
  opacity: 1;
  font-size: 0.9rem;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  text-transform: uppercase;
  background-color: #00276c;
  padding: 10px 35px;
  text-align: center;
}
.flight-component {
  max-width: 1300px;
  background-color: #fcfcfc;
  padding: 12px 20px;
  color: black;
  color: #00276c;
  position: relative;

}
.flight-component .active {
  transition: all 0.3s;
}
.flight-content {
  /* width: 900px !important; */
}
.multiCity {
  padding: 0;
  margin: 10px 0px;
}
.flight-wrapper {
  display: flex;
  /* margin: 0 auto; */
}
.date-container{
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(189, 188, 188);
  margin: 0px 20px;
  
}
.datepicker-container{
  box-sizing: border-box;
  border-right: 1px solid rgb(167, 166, 166);
  padding: 10px 5px;
  text-align: center;
  /* width: 150px */
  
}
.return-container{
  box-sizing: border-box;
  padding: 10px 4px;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 220px;
}

.passenger-container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  box-shadow: 1px solid grey;
  padding: 30px 33px;
  border-radius: 4px;

}
.openModalBtn {
  width: 160px;
  height: 105px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.2);
}
.react-datepicker-ignore-onclickoutside{
  text-align: center !important;
}
.react-datepicker__input-container input{
  font-weight: bold;
  text-align: center !important;
}

.flightSearch-button{
  margin: 24px 0px;
  padding: 12px 35px;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  color: #00276C;
  background-color: #FFC610;
  text-align: center;
}