.input-container{
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(187, 187, 187);
  color: '#00276c';
  position: relative;
}
.input-content{
  color: '#00276c';
  padding: 5px 2px;
  width: 285px;
  
  &:first-child {
    border-right: 1px solid rgb(179, 178, 178);
  }
}
.input-content input{
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: '#00276c';
  border:rgba(0, 0, 0, 0);
  
}



.city {
    padding: 0;
    margin: 0;
    display: flex;
  } 
  .to {
    box-sizing: border-box;
    border: 1px solid gainsboro;
    box-shadow: 1px solid grey;
  }
  .from {
    box-sizing: border-box;
    border: 1px solid gainsboro;
    box-shadow: 1px solid grey;
  }
  .input {
    outline: none;
    box-shadow: none;
    text-align: center;
    border: none;
  }
   .suggestionBox-from {
    width: 400px;
    background-color: white;
    position: absolute;
    color: black;
    padding: 5px 8px;

    left: 0; 
    max-height: 300px;
    overflow: auto;
  } 
   .suggestionBox-to {
    width: 400px;
    background-color: white;
    position: absolute;
    color: black;
    padding: 5px 8px;

    /* left: 0;  */
    max-height: 300px;
    overflow: auto;
  } 

  
    .suggestion-item{
      display: flex;
      padding: 10px 8px;
      border-bottom: 1px solid gray;
      /* justify-content: space-between; */

    }
    .suggestion-item:hover{
      background-color: rgb(224, 220, 220);
    }
    .code{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(180, 232, 241);
      padding: 0 10px;
      border-radius: 5px;
      font-weight: 500;
    }
  .airport-name{
      margin-left: 20px;
      text-align: left;
  }

  .swap-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 1px solid #00276C;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 3px 10px;
    color: #00276C;
  }

  .swap-button:hover::after {
    content: 'Click to swap origin to destination';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00276C;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    width: 200px;
  }
  