.image-container{
    margin: auto;
    padding-top: 80px ;
    /* width: 1200px; */
    height: 500px !important;
    display: block;
}

.container-shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 22px 0;
}
.packageDetails-Button{
    width: 100%;
    background-color: #FFC610 !important;
    font-weight: 600;
    cursor: pointer;
}
.packageDetails-Button:hover{
    background-color: #ffc400;
    
}
.collapse{
    border-radius: 5px !important;
}