.packageCarousel {
  width: 100%; 
  overflow-x: hidden;
  margin: 20px 0px;
  padding: 20px 0px;
  
}
.packageCarousel-button{
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
  z-index: 1;
}
.packageCarousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.packageCarousel-item {
  width: 300px;
  height: 500px;
  margin-right: 20px;
  
}

.packageCarousel-card {
  background-color: #fff;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  
}
.packageCarousel-card img{
  
  width: 300px;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}


