.packageCarousel {
  width: 100%; 
  overflow-x: hidden;
  margin: 20px 0px;
  padding: 20px 0px;
  
}
.packageCarousel-button{
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
  z-index: 1;
}
.packageCarousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.packageCarousel-item {
  width: 300px;
  height: 500px;
  margin-right: 20px;
  
}

.packageCarousel-card {
  background-color: #fff;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  
}
.packageCarousel-card img{
  
  width: 300px;
  height: 250px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}


.packageSkeleton {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  /* margin-right: -20px;
  margin-left: -20px; */
  padding: 0 20px;

  /* Media Query for larger screens */
  @media (min-width: 768px) {
      gap: 20px;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }

  .packageSkeletonItem {
      width: 100%;

      /* Media Query for medium-sized screens */
      @media (min-width: 768px) {
          width: calc(25% - 15px);
      }

      /* Media Query for larger screens */
      @media (min-width: 1024px) {
          width: calc(20% - 16px);
      }

      flex-shrink: 0;

      .countdown-container {
          border-radius: 12px;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          margin-bottom: 30px;
      }

      .singleFlight-container {
          display: flex;
          flex-direction: column;

      }
  }
}