.passwordChangeForm-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  width: 100%;
}

.passwordChangeForm-input{
    border: 1px solid #000;
    padding: 8px 12px;
    width: 50%;
}
.passwordChange-submit{
    background-color: #FFC610 !important;
    width: 50%;
    margin: auto;
    align-items: center;
}
/* Add this CSS to your stylesheet */
.input-container {
    display: flex;
    align-items: center;
  }
  
  .passwordChangeForm-input {
    flex-grow: 1;
  }
  
  .passwordChange-show-hide-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
    color: #007bff; /* Change the color as needed */
  }
  