.heroBanner {
    width: 100%;
    height: 650px;
    background-color: black;
    align-items: center;
    position: relative;
    
  }
  
  .heroBanner.md {
    /* height: 900px; */
  }
  
  .heroBanner .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    
  }
  
  .heroBanner .backdrop-img .lazy-load-image-background {
    width: 100%;
    height: 100%;
  }
  
  .heroBanner .backdrop-img .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  
  .heroBanner .opacity-layer {
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(4, 25, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    left: 0;
    bottom: 0;

  }
 .heroBannerContent {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    /* max-width: 1300px; */
    margin: 0 auto;
    text-align: center;
    
  }
  .heroBanner .heroBannerContent .active{
    color: #00276C;
    background-color: #FFC610;
    text-align: center;
  
  }
  .heroBanner .heroBannerContent  .menuItems {
    list-style-type: none;
    display: flex;
    justify-content: space-between !important;
    bottom: 0px;
    margin-top: 170px;
    cursor: pointer;
    width: 100%;
    font-weight: 300;
    border-top-left-radius: 15px;
  }
 
  .heroBanner .heroBannerContent  .menuItems .menuItem {
    height: 55px;
    color: #00276C;
    opacity: 1;
    font-weight: 400;
    position: relative;
    width: 100%;
    text-align: center !important;
    background-color: #fff;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    padding-top: 16px;
    


    &:first-child {
      border-top-left-radius: 10px;
    }
  
    &:last-child {
      border-top-right-radius: 10px;
    }
  }
  .heroBanner .heroBannerContent  .menuItems .active{
    background-color: #FFC610;
    font-weight: 600;
  }
.menuItem-icons{
  /* padding-left: 10px; */
  padding-right: 7px;
}

.borderItem{
  border-left: 1px solid rgb(192, 190, 190);
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 150vh;
}

.carousel-content {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  /* height: 500px; */
}

.slide {
  flex: 0 0 100%; /* Each slide takes full width */
}

.slide.slide-flight {
  transform: translateX(0%);
}

.slide.slide-holiday {
  transform: translateX(00%);
}

.slide.slide-visa {
  transform: translateX(00%);
}

.slide.slide-hotels {
  transform: translateX(00%);
}