.visaImage-container{
    margin: auto;
    padding-top: 80px ;
    /* width: 1200px; */
    width: 100%;
    height: 450px !important;
    display: block;
}
.visaDetails-container{
    color: #00276C;
}
.visaDetails-price{
    width: 100%;
    /* background-color: '#FFC610' !important; */
    z-index: 1;

}
.visaDetails-price:hover{
    background-color: #bb7900;
}