
 .flight-accordion {
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

.flight-accordion .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #00276c;
  color: #ffffff;
  transition: 0.3s ease;
}

.flight-accordion .accordion-header h3 {
  font-weight: bold;
  margin: 0;
}

.icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.icon.open {
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

.flight-accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.flight-accordion.open .accordion-content {
  /* max-height: 200px; */
  transition: max-height 0.5s ease;
}

