.flightPersonalContainer{
    text-align: center;
    /* height: 100%; */
}
.flightPersonalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #FFF6D9;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3px 5px;
    border-left: 1px dashed rgb(137, 116, 226);
}

.arrowText{
    font-size: 10px;
    padding: 0px;
}
.flightLoading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
.flightNoFound-container {
    display: flex;
    background-image: url('../../../public/not-found.gif');
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: #f0f0f0; */
    
  }
  .flightNotFound-image {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }



  .flightLoadingSkeleton {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 300px; */
    gap: 10px;
    overflow-y: hidden;
    padding: 0 20px;

    /* Media Query for larger screens */
    @media (min-width: 768px) {
        gap: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .flightSkeletonItem {
        width: 100%;

        /* Media Query for medium-sized screens */
        @media (min-width: 768px) {
            width: calc(25% - 15px);
        }

        /* Media Query for larger screens */
        @media (min-width: 1024px) {
            width: 100%;
            /* width: calc(90% - 96px); */
        }

        flex-shrink: 0;

        .countdown-container {
            border-radius: 12px;
            width: 100%;
            aspect-ratio: 1 / 1.5;
            margin-bottom: 30px;
        }

         .singleFlight-container {
            display: flex;
            flex-direction: column;

            .title {
                width: 100%;
                height: 20px;
                margin-bottom: 10px;
            }

            .date {
                width: 75%;
                height: 20px;
            }
        } 
    }
}

  
.flightSkeleton {
  position: relative;
  overflow: hidden;
  background-color: #98aecc;
  height: 300px;
}

.flightSkeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(25, 55, 99, 0) 0,
    rgba(25, 55, 99, 0.2) 20%,
    rgba(25, 55, 99, 0.5) 60%,
    rgba(25, 55, 99, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

  